<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

  <h4>HR</h4>
  <a routerLink="/hr/employees" routerLinkActive="active">Employees</a>
  <a routerLink="/hr/attendance" routerLinkActive="active">Attendance</a>

  <h4>Production</h4>
  <a routerLink="/production/work-orders" routerLinkActive="active">Work Orders</a>
  <a routerLink="/production/machines" routerLinkActive="active">Machines</a>

  <h4>Quality</h4>
  <a routerLink="/quality" routerLinkActive="active">QC</a>

  <h4>Inventory</h4>
  <a routerLink="/purchase/vendors" routerLinkActive="active">Vendors</a>
  <a routerLink="/inventory/materials" routerLinkActive="active">Materials</a>

  <h4>Sales</h4>
  <a routerLink="/sales/orders" routerLinkActive="active">Orders</a>

  <h4>Shipping</h4>
  <a routerLink="/shipping/dispatch" routerLinkActive="active">Dispatch</a>

  <h4>Reports</h4>
  <a routerLink="/reports" routerLinkActive="active">Reports</a>
</nav>
